/* Fonts */
@font-face {
    src: url('../fonts/SourceSansPro-Black.otf');
    font-family: SansBlack;
}
@font-face {
    src: url('../fonts/SourceSansPro-Bold.otf');
    font-family: SansBold;
}
@font-face {
    src: url('../fonts/SourceSansPro-Semibold.otf');
    font-family: SansSemibold;
}
@font-face {
    src: url('../fonts/SourceSansPro-Light.otf');
    font-family: SansLight;
}

/* General styles */
body {
    font-family: SansLight;
}

h1 {
    color: #bd1e2c;
    font-family: SansBlack;
    font-size: 80px;
    line-height: 65px;
    margin:0 0 40px;
    text-transform: uppercase;
}

h2 {
    color: white;
    font-family: SansBold;
    font-size: 34px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0;
}

h3 {
    color: #000000;
    font-family: SansBold;
    font-size: 26px;
    line-height: 24px;
    margin-top: 0;
    text-transform: uppercase;
}

h4 {
    color: #000000;
    font-family: SansLight;
    font-size: 26px;
}

img {
    max-width: 100%;
}

.btn-primary {
    background-color: #bd1e2c;
    border: 0;
    border-radius: 0;
    font-family: SansBold;
    font-size: 16px;
    text-transform: uppercase;
    padding: 5px 40px;
    margin: 15px 0;
}

.btn-primary:hover {
    background-color; #A40513;
}

.grey-bg {
    background-color: #d6d3d3;
}

.heading-text {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* Navbar style */
.navbar {
    background-color: #ffffff;
    border: none;
    margin-bottom: 0;
}

.navbar .navbar-brand img{
    margin-top: -6px;
    width: 140px;
}

.navbar .nav li {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar .nav li a {
    color: #000000;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar .nav li a:hover {
    background-color: #ffffff;
}

.navbar .nav li a img {
    margin-top: -5px;
}

.navbar .main-nav {
    margin-right: 20px;
}

.navbar .main-nav li a{
    padding-left: 3px;
    padding-right: 3px;
}

.navbar .main-nav li a:hover {
    text-decoration: underline;
}

.navbar .main-nav li:last-of-type a{
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid #000000;
}

.navbar-toggle .icon-bar {
    background-color: #000000;
}

/* Header style */
header {
    background-image: url('../img/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    padding: 300px 0;

    color: white;
}

header .block {
    color: white;
    display: block;
    font-size: 15px;
}

/* Details box style */
.details-box {
    margin-bottom: 50px;
}

.details-box p {
    color: #000000;
    font-size: 18px;
    line-height: 20px;
}

/* Animation container */
.animation-container {
    position: relative;
    height: 1350px;
}

.animation-container img{
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
    /*transition: transform 0.5s ease-in-out;*/
    z-index: 10;
}

.animation-container img.hide {
    transform:translateX(-50%) rotate(90deg);
}

img.black-tube {
    z-index: 7;

}

img.bag-up {
    z-index:15;

}

img.bag-down{
    z-index:5;
}

/* Info boxes */
.info-box {
    position: absolute;
    width: 250px;
    z-index: 20;
}

.info-box.text-left{
    right: 25%;
}

.info-box.text-right {
    left: 25%;
}

.info-box.text-center {
    left: 50%;
    transform: translate(-50%);
}

.info-box h3 {
    font-size: 32px;
    line-height: 28px;
}

.info-box p {
    font-size: 18px;
    line-height: 18px;
}

/* Pre-footer style */
.pre-footer .border-left {
    border-left: 1px solid #7c7676;
    padding: 10px 0 10px 20px;
}

/* Footer style */
footer {
    background-color: #afa9a9;
    margin-top: 60px;
    padding-top: 25px;
    padding-bottom: 25px;
}

footer ul{
    list-style-type: none;
    padding: 0;
}

footer li a{
    color: white;
    font-size: 14px;
    line-height: 12px;
    text-transform: uppercase;
}

footer li a:hover {
    color: white;
}

/* Media queries */

/* Phones */
@media screen and (max-width: 768px){
    h1 {
        font-size: 60px;
        line-height: 50px;
    }

    h2 {
        font-size: 28px;
        line-height: 26px;
    }

    .navbar .navbar-brand img{
        width: 110px;
    }

    .navbar .nav li {
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .navbar .main-nav {
        margin: 0 auto;
    }

    .navbar .main-nav li:last-of-type a{
        padding-left: 2px;
        padding-rigth: 2px;
        margin-left: 0;
        border-left: none;
    }

    header {
        padding: 150px 0;
    }

    .pre-footer .border-left {
        border: none;
        padding: 10px 0;
    }

    .pre-footer, footer {
        text-align: center;
    }
}
